<h1 mat-dialog-title>Add new item</h1>
<div mat-dialog-content>
  <mat-form-field style="margin: 10px">
    <mat-label>Item name</mat-label>
    <input matInput [(ngModel)]="data.Title" />
  </mat-form-field>
  <mat-form-field style="margin: 10px">
    <mat-label>Choose a date</mat-label>
    <input matInput [matDatepicker]="picker" [(ngModel)]="data.DueDate" />
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>
    Save
  </button>
</div>
