<div
  class="card"
  [ngClass]="setClasses()"
  style="display: flex; justify-content: space-between; align-items: center;"
>
  <h3 class="title">
    {{ todo.Title }}
  </h3>
  <p>Due: {{ todo.DueDate | date: "medium" }}</p>
  <div>
    <button
      mat-mini-fab
      matTooltip="{{ todo.Completed ? 'Undo the task' : 'Complete the task' }}"
      matTooltipPosition="above"
      color="primary"
      (click)="onToggle(todo)"
      class="add-btn mr-1"
    >
      <i *ngIf="!todo.Completed; else undoIcon" class="fas fa-check"></i>
      <ng-template #undoIcon>
        <i class="fas fa-undo"></i>
      </ng-template>
    </button>
    <button
      mat-mini-fab
      color="warn"
      matTooltip="Delete the task"
      matTooltipPosition="above"
      (click)="onDelete(todo)"
      class="add-btn mr-1"
    >
      <i class="fas fa-trash"></i>
    </button>
  </div>
</div>
